body {
  width: 100%;
  position: relative;
}
span {
  font-size: 15px;
}
.flaticon{
  height:32px
}
.create-post {
  background-color: #00ff00;
  color: white;
}

.forum-item-name {
  text-decoration: none;
  color: black;
}

.forum-item-name:hover {
  color: #5050da;
}

span > a {
  color: rgb(108, 117, 125);
}
.new-post {
  
  background: #5050da;
 
}
.hide{
  display: none;
}

.forum-item-postedby-img > img {
  display: none;
}

.forum-card {
  border: 1px solid #999999;

}
.forum-card:hover{
  width: 102%;
  right: 10px;
  position: relative;
  padding: 18px 12px !important;
  background-color: #ebeef3;
  border-radius: 5px;
  box-shadow:1px 2px 2px 1px rgb(195,193,193);
}
.forum-card:nth-of-type(2) {border-left: 5px solid #00ff00;}
.forum-card:nth-of-type(3) {border-left: 5px solid #ff0055;}
.forum-card:nth-of-type(4) {border-left: 5px solid #ff7b00;}
.forum-card:nth-of-type(5) {border-left: 5px solid #be02e4;}

.follow,.follow:hover{
  color:#5050da;
  background: white;
  border: 1px solid #5050da;
  font-weight: bold;
}
.input-group{
  border: 1px solid #ced4da;
  border-radius: 8px;
  box-shadow: none;
}
.filter-search,.btn,.btn:hover{
  border:0;
  outline:none !important;
  box-shadow: none !important;
}
.post-card ,.filter-sec{
  border-bottom: 1px solid #ced4da;
  
}

.forum-items {
  
  font-size: large;
  text-decoration: none;
  margin-right: 15px;
  padding-bottom: 10px;
}

.forum-items:hover {
  color: #ff00bb;
}

.forum-items:active {
  color: #5050da;
}

.banner-img {
  max-height: 250px;
}

.fa {
  color: #6b6d6f;
}
.icon-color {
  color: black;
 
}

.upvote:focus {
  color: #ff00bb;
}
.bookmark > i {
  padding: 4px 2px;
}
.post-title {
  color: black;
  font-size: large;
  text-decoration: none;
}

.dropdown-toggle::after {
  content: none;
}
#floatingTextarea {
  border: none;
  overflow-y: scroll;
  outline: none;
  box-shadow: none;
  
  resize: none;
}
.com-sec {
  border: 1px solid #ced4da;
  border-radius:8px
}
.comment-box {
  border: 1px solid gray;
  border-radius: 8px;
}
.profile-card {
  border: 1px solid gray;
  border-radius: 8px;
}
.profile-box {
  width: fit-content;
  position: absolute;
  background-color: white;
  z-index: 2;
}

/* .bord{
  border-bottom: 3px solid #00ff00;
} */
  @media (max-width: 575px) {
    .forum-card {
      margin-left: 0.2rem;
    }
    /* .com-sec{
      border:none;
      border-radius:0;
      border-top:1px solid #ced4da;
      border-bottom:1px solid #ced4da
    } */
  }
  @media (min-width: 375px) {
    .title-sec {
      display: flex;
    }
    .forum-item-postedby-img > img {
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 100%;
    }
  }
  .nav {
    font-size: large;
    padding-bottom: 10px;
  }
  .nav li {
    cursor: pointer;
    position: relative;
    text-align: center;
  }
  .nav li .active:hover{
    color: black;
  }
  .nav li.active::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background-color: #646464;
    left: 0;
    bottom: -7px;
    border-radius: 20px;
    animation: appear 0.2s linear;
  }
  .nav span .nav-link{
    visibility: hidden;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    border-left: 3px solid;
    border-color: #5050da;
    visibility: visible;
    background-color:inherit;
    border-radius: 0;
}
.nav-pills .span1{
  border-left: 1px solid;
  border-color: #5050da;
}
.sticky-top{
  top:90px; 
  z-index: 1;
}
.topic{
  z-index: 1;
  margin-bottom: 1em;
  padding-bottom: 30px;
}
.cont::before, .topic-content::before{
  display: table;
    content: " ";
}
.cont:after, .topic-content::before{
  clear: both;
}
.title-vote {
  padding-top: 20px;
  position: relative;
  padding-right: 0.75em;
  width: 6em;
  max-width: 10%;
  box-sizing: border-box;
  float: left;
}
.vote , .vote-count{
  cursor: pointer;
}

.vote-count{
  font-size: 1.3195em;
  height: 40px;
  font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #ececec;
}
.vote-button{
  width: 100%;
    margin-top: 0.35em;
}
.topic-dp {
  margin-bottom: 56px;
  padding-top: 15px;
  width: 45px;
  float: left;
  z-index: 2;
  height: 100%;
}
.topic-content{
  float: left;
    min-width: 0;
    position: relative;
    padding: 12px 0 0 0;
}
.topic-content .topic-heading{
  padding: 0 11px 0.25em 11px;
}
.name{
  flex: 1 1 auto;
}
.reply-sec{
  position: relative;
  padding-left: 11px;
  margin: 20px 0;
}
.login-sec{
  margin-left: 11px;
  border-top: 1px solid #ececec;
}
.login-link{
  margin-top: 1em;
    padding-top: 1em;
}
.login-num{
  border-radius: 15px;
  padding: 0 12px;
  background-color: rgb(219, 241, 248);
}
.map{
  margin: 20px 0 20px 11px;
  background: #f9f9f9;
    border-top: none;
}
.inside-map{
  border-top: 1px solid #ececec;
}
.inside-map ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.inside-map li{
  float: left;
  padding: 7px 10px;
  text-align: center;
}
.inside-map li h4{
  font-weight: normal;
  font-size: 14px;
  color: rgb(108,117,125);
}
.number{
  font-size: 20px;
}
.btn:hover{
  background-color: #ebeef3;
  color: black;
}
@media (max-width:570px) {
  #navbar-example3{
    display: none;
  }
  .vote-button{
    display: none;
  }
}
@media (max-width:762px) {
  .vote-button{
    font-size: 10px;
  }
}